<h2>My Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= link_to friendship.friend.user %><!--Show Users path-->
       <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Show Users"%>
