<h3> Posts Posted by <%= @user.user %> </h3>
<% @user.posts_posted.each do |p| %>
	<br> <b><%= User.find_by_id(p.to).user %></b>
	<%= p.message%> <%= link_to "Destroy",:controller => 'posts', :action => 'destroy',:id => p %>

	</br>
<%end%>

